.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.nav {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__item {
    padding: 10px 0;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &.active {
      color: lighten(#000, 20%);
      border-bottom: 1px solid #000;
    }
  }
}